body {
  margin: 0
}

header {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: green;
  color: white;
  font-size: larger;
  font-weight: 900;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(76, 178, 178);
  width: 100%;
  height: calc(100vh - 50px);
}

button {
  position: absolute;
  width: 20vw;
  height: 50px;
  bottom: 10px;
  right: calc(50% - 10vw);
  background-color: blue;
}
